{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <br />
    <br />
    <!-- Contenido principal -->
    <main role="main">
      <div class="container">
        <section class="text-center">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'core/img/carruselgalenos1.jpg' %}" class="d-block w-100" alt="" />
              </div>
              <div class="carousel-item">
                <img src="{% static 'core/img/carrusel2galenos.jpg' %}" class="d-block w-100" alt="" />
              </div>
               <div class="carousel-item">
                <img src="{% static 'core/img/mapa.jpg'%}" class="d-block w-100" alt="" />
              </div> 
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </section>
      </div>
    </main>
    <br />
    <br />

    <div class="cuadro_login4">
      <h1 class="cute-font-regular neon">Conoce las especialidades que tenemos para ti</h1>
      <br><br>
      <div class="row">
        <!-- Primera columna -->
        <div class="col-sm-12 col-md-4">
          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/medicina_general.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Medicina General</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/pediatria.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Pediatría</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/ginecologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Ginecología y Obstetricia</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/dermatologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Dermatología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/cardiologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Cardiología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/neumologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Neumología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/endocrinologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Endocrinología</h2>
          </div>
        </div>
    
        <!-- Segunda columna -->
        <div class="col-sm-12 col-md-4">
          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/neurologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Neurología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/traumatologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Traumatología y Ortopedia            </h2>
          </div>
        
          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/oftalmologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Oftalmología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/ORL.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Otorrinolaringología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/urologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Urología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/psiquiatria.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Psiquiatría</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/gastroenterologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Gastroenterología</h2>
          </div>
        </div>
    
        <!-- Tercera columna -->
        <div class="col-sm-12 col-md-4">

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/oncologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Oncología</h2>
          </div>
        

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/fisioterapia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Fisioterapia</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/radiologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Radiología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/laboratorio.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Laboratorio Clínico</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/nefrologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Nefrología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/inmunologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Inmunología</h2>
          </div>

          <div class="d-flex align-items-center mb-3">
            <img src="{% static 'core/img/odontologia.jpg' %}" width="60" height="60" alt="" class="me-2" />
            <h2 class="text_esp">Odontología</h2>
          </div>

          
          <!-- Añade más divs similares para completar las 8 especialidades -->
        </div>
      </div>
    </div>
    


    <!-- Productos de la tienda -->

    {% comment %} <div class="album">
      <div class="container">
        <div id="product-item" class="row">
          {% for producto in productos %}
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" id="mini_producto">
            
            <a href="{% url 'ficha' producto.id %}" class="card-link index_ficha">
              <div class="card mb-4 box-shadow" style="border: 1px solid rgb(255, 255, 255); background-color: #ffffff; padding: 30px; width: 300px; height: 550px; margin: 0 auto;">
                <div class="text-center">
                  <img class="card-img-top thumbnail-product" src="/media/{{ producto.imagen }}" alt="" />
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <div class="lead text-secondary fw-bold letra-normal-negra">{{ producto.html_estado|safe }}</div>
                    <br />
                    <div class="letra-titulo-producto">
                    {{ producto.nombre }}
                    </div>
                    <br />
                    {{ producto.html_precio|safe }}
                    <br />
                    <b>Descripción</b>
                    <br />
                    <div class="text-truncate">{{ producto.descripcion }}</div>
                    <br />
                    <b>{{ producto.html_stock }}</b>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
     {% endcomment %}

    

{% endblock content %}
