/* DESCOMENTAR ESTO PARA "HACK DEL DIV" */
/* div{
  border: 1px solid red;
}  */


.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-link * {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cuadro_blaco{
  background-color: white;
}

.custom-div {
  color: #747777; /* Color de fondo gris */
  padding: 20px; /* Espaciado interno */
  margin-left: 20px; /* Espaciado a la izquierda */
  margin-right: 20px; /* Espaciado a la derecha */
}

.error {
  color: red;
  font-weight: bold;
}

body {  
  background: #f1f1f1;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.logo2 {
  height: 50px;
  margin-right: 10px;
}


.thumbnail-product {
  height: 150px !important;
  max-width: 150px !important;
}

.thumbnail-product2 {
  height: 250px !important;
  max-width: 250px !important;
}

.precio-real{
  text-decoration: line-through;
}

.precio-oferta{
  color: darkblue;
}

.cuadro_login {
  border: 5px solid rgb(#bcbcbc);
  padding: 30px;
  width: 450px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.cuadro_neon_pequeño {
  border: 1px solid rgb(255, 255, 255);
  padding: 40px;
  width: auto;
  height: auto;
  background-color: none;
  margin: 0 auto;
  box-shadow:
  0 0 10px rgb(255, 255, 255),
  0 0 1cap rgba(0,178,255,1);
}

.cuadro_white {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 40px;
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

.cuadro_blanco_index {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 30px;
  width: 300px;
  height: 700px;
  margin: 0 auto;
}

.label {
  position: absolute;
  left: 15px;
  color: #797777;
  pointer-events: none;
  transform: translateY(15px);
  font-size: 18px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  padding: 0 .2em;
}

.letra-azuul {
  color: #007bff;
  text-decoration: none;
}

.boton_registro{
  background-color: #8bc24a !important; 
  border: none;
  color: rgb(0, 0, 0); 
  text-align: center;
  font-weight: bold !important;
  display: inline-block;
  width: 380px; 
  padding: 0.5rem;
  border-radius: 15px;
  text-decoration: none;
}

.cuadro_login2 {
  border: 5px solid rgb(#bcbcbc);
  padding: 20px;
  width: 450px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.letra-azuul-bold {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.input-group {
  position: relative;
  margin-bottom: 1.5em; /* Añadido margen para espaciar los campos */
}

.text-center {
  text-align: center;
}

.input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #8bc24a;
}

.input:focus ~ .label, .input:valid ~ .label {
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  color: #8bc24a;
}

.input:focus ~ .label2, .input:valid ~ .label {
  transform: translateX(-6%) translateY(-20%) scale(0.9);
  color: #8bc24a;
  background-color: rgb(255, 255, 255);
  width: auto;
}


.cuadro_neon {
  box-shadow:
  0 0 10px rgb(255, 255, 255),
  0 0 1cap rgba(0,178,255,1);
}

.titulos{
  text-align: center;
  color: rgb(99, 99, 248);
}

.opcion{
  display: inline-block;
  margin-right: 10px;
}

.letra{
  color: rgb(0, 0, 0);
}

.white-text{
  color: rgb(0, 0, 0);
  font-weight: bold;
}


.letrazul{
  color: rgb(56, 85, 251);
}

.cute-font-regular {
  font-weight: 700;
  font-size:1.8em;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.neon {
	color: #0073a6;
}

.boton_verde {
  background: linear-gradient(to right, #005b01, #28b856, #005b01);
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_verde:hover {
  background: linear-gradient(to right, #013701, #158f3b, #013701);
  box-shadow:
    0 0 5px rgba(0, 255, 132, 1),
    0 0 20px rgba(38, 127, 104, 1);
}

.boton_rojo {
  background:  #f20404 !important;
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_rojo:hover {
  background:#7e0202 !important;
}

.boton_celeste {
  background:  #0073a6 !important;
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  width: auto;
}

.boton_celeste:hover {
  background:#043c54 !important;

}

.index_ficha{
  background: none;  
}

.index_ficha:hover{ 
  background: none;  
	box-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 15px rgba(0,178,255,1),
		0 0 20px rgba(38,104,127,1),
		0 0 25px rgba(38,104,127,1),
		0 0 30px rgba(38,104,127,1),
		0 0 35px rgba(38,104,127,1),
		0 0 40px rgba(38,104,127,1),
		0 0 45px rgba(38,104,127,1);
}

#cuadro-imagen {
  max-width: 236px;
  max-height: 199px;
  padding: 3px;
  border: 2px solid gray;
}


#fotoFicha{
  width: 200px;
  max-height: 200px;
}

.contornoFicha{
  border: 2px solid white;
  padding: 10px;
  margin: 100px;
}

#spanFicha{
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: bold;
}

#spanFicha2{
  display: inline-block;
  vertical-align: center;
  font-size: 20px;
  font-weight: bold;
}
.fw-300{
  font-weight: 300;
}

.centrar-texto{
  text-align: center;
}

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.iconos{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
    
}

.containerpen {
  position: absolute;
  overflow: hidden;
  width: 100%; /* Ancho del contenedor */
  height: 50px; /* Alto del contenedor */
}

#pinguino {
  position: absolute;
  top: 4px;
  left: -100px;
  width: 40px; /* Ancho del pingüino */
  height: auto; /* Altura automática para mantener la proporción */
  animation: caminar 20s linear infinite;
}

@keyframes caminar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    left: calc(100% - 40px); /* Hasta el borde derecho */
    }
}

#boleta_tabla_estados{
  float: right;
}

#boleta_tabla_estados td{
  padding-right: 30px;
  text-align: center;
  font-weight: bold;
}

.image-container {
  position: relative;
  width: 200px; /* Establecer el ancho máximo */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
}

.user-image {
  max-width: 100%;
  max-height: 200px; /* Establecer el tamaño máximo */
  width: auto;
  height: auto;
}

.file-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.letra-ofertaa{
  color: rgb(0, 105, 252);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.letra-disponible{
  color: rgb(0, 192, 0);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.precio-real-ficha{
  color: white;
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
}



.precio-real-ficha-oferta{
  color: rgb(0, 0, 0);
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
  text-decoration: line-through;
}

.letra-agotado{
  color: rgb(255, 50, 50);
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.letra-titulo-producto{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

.letra-titulo-producto2{
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
}

.letra-titulo-producto3jajalol{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.fotos-nosotros {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  
}
.card {
  text-align: center; /* Centrar contenido horizontalmente */
  max-width: 300px;
  
}
.card-img-top {
  width: 50%; /* Ajusta el ancho de la imagen según tus necesidades */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.letra-normal-negra {
  color: black;
  text-decoration: none;
  display: block;
}

.letra_boleta_anulada {
  font-weight: bold;
  color: rgb(255, 50, 50) !important;
}

.table_border {
  border: 1px solid white;
  padding: 10px;
}


.producto-sm {
  width: 50px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.usuario-sm {
  width:  82px;
  height: 70px;
}

.btn-outline-custom {
  color: #ffffff !important; /* Color del texto y borde */
  border-color: #ffffff !important;
}

.btn-outline-custom:hover {
  background-color: #0073a6 !important; /* Color de fondo al hacer hover */
  color: #ffffff !important; /* Color del texto al hacer hover */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #013B55;
}

.navbar-custom {
  background-color: #013B55; /* Color de fondo: celeste más oscuro */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon,
.navbar-custom .dropdown-toggle {
  color: #FFFFFF !important;/* Color de texto blanco */
  font-weight: 600;
  font-size: small;
}
.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-toggle:hover,
.navbar-custom .nav-link.active {
  color: #FFFFFF !important; /* Color de texto blanco más claro al pasar el mouse */
}
.navbar-custom .dropdown-menu .dropdown-item {
  color: #000000; /* Color de texto en el menú desplegable */
}
.navbar-custom .dropdown-menu .dropdown-item:hover {
  background-color: #006b99;
  color: #FFFFFF; /* Color de texto y fondo en el hover del menú desplegable */
}

.navbar-left .logo {
  height: 50px;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: right !important;
}

.navbar-right .nav-link, .navbar-right .nav-icon {
  margin-left: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.navbar-right .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #8bc24a;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #8bc24a;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.search-bar {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button {
  background-color: #0073a6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #8ddfff;
  color: white;
}

.search-button i {
  color: #fff;
}

.boton_registro{
  background: #0073a6 !important; 
  color: #ffffff !important; 
  padding: 10px 20px; 
  text-align: center; 
  display: inline-block;
  width: auto;  
}

.boton_registro:hover{
  background: #013b55 !important;
  color: white !important;
}

.login-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: #013b55;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.login-button img {
  margin-right: 0.4rem;
}
.login-button:hover {
  background-color: #8ddfff;
}

